[tool.poetry]
name = "pydantic-ome-ngff"
version = "0.1.2"
description = "Pydantic models for the OME-NGFF"
authors = ["Davis Vann Bennett <davis.v.bennett@gmail.com>"]
license = "MIT"
readme = "README.md"
packages = [{include = "pydantic_ome_ngff", from="src"}]

[tool.poetry.dependencies]
python = "^3.9"
pydantic = "^1.10.4"


[tool.poetry.group.dev.dependencies]
pre-commit = "^3.0.4"
isort = "^5.12.0"
jsonschema = "^4.17.3"
pytest = "^7.2.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
