name: CI
on:
  push:
  pull_request:

jobs:
  test:
      name: py=${{ matrix.python-version }}
      runs-on: ubuntu-latest
      strategy:
        matrix:
          python-version: ['3.9', '3.10', '3.11']
      steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: 'pip'
      - name: Install Hatch
        run: |
          python -m pip install --upgrade pip 
          pip install hatch
      - name: Set Up Hatch Env
        run: |
          hatch env create test.py${{ matrix.python-version }}
          hatch env run -e test.py${{ matrix.python-version }} list-env
      - name: Run Tests
        run: |
          hatch env run --env test.py${{ matrix.python-version }} run

